OBRA_CIRCULAR_APP_NAME=Obra Circular API
OBRA_CIRCULAR_ENVIRONMENT=local
OBRA_CIRCULAR_DEBUG=true
OBRA_CIRCULAR_API_V1_PREFIX=/api/v1
OBRA_CIRCULAR_CORS_ORIGINS=["http://localhost:5173"]
OBRA_CIRCULAR_DATABASE_URL=postgresql+asyncpg://SEU_USUARIO:SUA_SENHA@localhost:5432/obra_circular_web
